# Node / pnpm
node_modules/
.pnpm-debug.log*
npm-debug.log*

# Build & caches
.turbo/
.next/
dist/
build/
coverage/

# Env files
.env
.env.*.local
!.env.example

# Editors
.vscode/*
!.vscode/extensions.json

# OS
.DS_Store
Thumbs.db
